nodered.json
[{"id":"dd19ed79.9987b","type":"tab","label":"Racegod_Direct","disabled":false,"info":""},{"id":"5a50bb49.d22644","type":"tab","label":"Racegod_Autoit_Gateway","disabled":true,"info":""},{"id":"7098af1b.143ea","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a94fdd97.499eb","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d465ce4e.dbea9","type":"serial-port","z":"","serialport":"COM20","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1e587729.a7c0e9","type":"mqtt-broker","z":"","name":"10.0.0.79:1883","broker":"10.0.0.79","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a83c010.94e25","type":"ui_group","z":"","name":"Pilot Mapping","tab":"d4f233e0.7e3b1","disp":true,"width":"6","collapse":false},{"id":"d4f233e0.7e3b1","type":"ui_tab","z":"","name":"RFID","icon":"dashboard","disabled":false,"hidden":false},{"id":"a98b7ccc.d2d72","type":"ui_group","z":"","name":"Pilot Mapping","tab":"7a855747.b34b08","order":1,"disp":false,"width":"6","collapse":false},{"id":"7a855747.b34b08","type":"ui_tab","z":"","name":"Learn","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd00db40.7e28d8","type":"ui_group","z":"","name":"Learn","tab":"7a855747.b34b08","order":2,"disp":true,"width":"6","collapse":false},{"id":"456fca34.097854","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f975f8b3.f17628","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cd5bc1bc.7b547","type":"mqtt in","z":"5a50bb49.d22644","name":"1","topic":"rfid_1/uuid","qos":"0","broker":"a94fdd97.499eb","x":163.5,"y":153,"wires":[["c4ea30b8.de317"]]},{"id":"d1451099.3ea3c","type":"debug","z":"5a50bb49.d22644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":854.5,"y":206,"wires":[]},{"id":"df9d940e.9fc608","type":"mqtt in","z":"5a50bb49.d22644","name":"2","topic":"rfid_2/uuid","qos":"0","broker":"a94fdd97.499eb","x":157,"y":231,"wires":[["97bdebb0.3707d8"]]},{"id":"36cc90fe.6375b","type":"mqtt in","z":"5a50bb49.d22644","name":"3","topic":"rfid_3/uuid","qos":"0","broker":"a94fdd97.499eb","x":154,"y":299,"wires":[["382853b1.f808bc"]]},{"id":"6b446704.beea38","type":"mqtt in","z":"5a50bb49.d22644","name":"4","topic":"rfid_4/uuid","qos":"0","broker":"a94fdd97.499eb","x":154,"y":370,"wires":[["8c898787.cbbd68"]]},{"id":"f353857e.367238","type":"tcp out","z":"5a50bb49.d22644","host":"192.168.4.88","port":"3000","beserver":"client","base64":false,"end":false,"name":"","x":944,"y":115,"wires":[]},{"id":"12e73b9d.2823e4","type":"function","z":"5a50bb49.d22644","name":"","func":"var indata = msg.payload;\n//var senddata= [];\nvar chipid=indata.chipid;\nvar rampid=indata.rampid;\n//senddata =indata.split(\" \");\n//chipid=senddata[1];\n//chipid=senddata[1].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\n\n//rampid=parseInt(senddata[0])+1;\n//rampid=parseInt(senddata[0]);\n\n//node.send({payload:(chipid)});\nswitch (chipid){\n        case \" 09516548\": node.send({payload:(rampid+\" Seli\")}); break;\n        case \"39E4CC55\": node.send({payload:(rampid+\" Seli\")}); break;\n        case \"E9 0A7548\": node.send({payload:(rampid+\" Andi\")}); break;\n        case \"C932C255\": node.send({payload:(rampid+\" Andi\")}); break;\n        case \"16E833F8\": node.send({payload:(rampid+\" Patric\")}); break;\n        case \"59DAA947\": node.send({payload:(rampid+\" Mandi\")}); break;\n        case \"D9564356\": node.send({payload:(rampid+\" Mandi\")}); break;\n        case \"E9D0192B\": node.send({payload:(rampid+\" Marci_FPV\")}); break;\n        case \"99B73256\": node.send({payload:(rampid+\" Flo\")}); break;\n        \n        \ndefault: \n//node.send({payload:(rampid+\" \"+chipid)});\n}","outputs":1,"noerr":0,"x":715,"y":114,"wires":[["f353857e.367238","549b6d98.1dc774"]]},{"id":"308898d9.764b28","type":"function","z":"5a50bb49.d22644","name":"","func":"var indata = msg.payload;\nvar senddata= [];\nvar chipid;\nvar rampid;\nsenddata =indata.split(\" \");\nchipid=senddata[1].replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nrampid=parseInt(senddata[0])+1;\n//node.send({payload:(chipid)});\nswitch (chipid){\n        case \"59DAA947\": node.send({payload:(rampid+\" Seli\")}); break;\n        case \"E9D0192B\": node.send({payload:(rampid+\" CracyFPV\")}); break;\n        case \"16E833F8\": node.send({payload:(rampid+\" HunoFPV\")}); break;\n        case \"E9\": node.send({payload:(rampid+\" Mario\")}); break;\n//default: \n    //node.send({payload:(rampid+\" \"+chipid)});\n}","outputs":1,"noerr":0,"x":233,"y":71,"wires":[[]]},{"id":"c4ea30b8.de317","type":"function","z":"5a50bb49.d22644","name":"","func":"msg.payload={rampid:\"1\", chipid:msg.payload}\nreturn msg; ","outputs":1,"noerr":0,"x":400.5,"y":161,"wires":[["12e73b9d.2823e4","d1451099.3ea3c"]]},{"id":"97bdebb0.3707d8","type":"function","z":"5a50bb49.d22644","name":"","func":"msg.payload={rampid:\"2\", chipid:msg.payload}\nreturn msg; ","outputs":1,"noerr":0,"x":397,"y":232,"wires":[["12e73b9d.2823e4","d1451099.3ea3c"]]},{"id":"382853b1.f808bc","type":"function","z":"5a50bb49.d22644","name":"","func":"msg.payload={rampid:\"3\", chipid:msg.payload}\nreturn msg; ","outputs":1,"noerr":0,"x":394,"y":300,"wires":[["12e73b9d.2823e4","d1451099.3ea3c"]]},{"id":"8c898787.cbbd68","type":"function","z":"5a50bb49.d22644","name":"","func":"msg.payload={rampid:\"4\", chipid:msg.payload}\nreturn msg; ","outputs":1,"noerr":0,"x":384,"y":374,"wires":[["12e73b9d.2823e4","d1451099.3ea3c"]]},{"id":"549b6d98.1dc774","type":"debug","z":"5a50bb49.d22644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":914,"y":54,"wires":[]},{"id":"5b424ccc.ec96f4","type":"inject","z":"5a50bb49.d22644","name":"","topic":"","payload":"E9D0192B","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"2","x":173,"y":451,"wires":[["c4ea30b8.de317"]]},{"id":"7138be40.d4ba1","type":"inject","z":"5a50bb49.d22644","name":"","topic":"","payload":"59DAA947","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"2","x":167,"y":517,"wires":[["97bdebb0.3707d8"]]},{"id":"799328bc.a90478","type":"inject","z":"5a50bb49.d22644","name":"","topic":"","payload":"39E4CC55","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"2","x":165,"y":580,"wires":[["382853b1.f808bc"]]},{"id":"c6080170.d315a","type":"inject","z":"5a50bb49.d22644","name":"","topic":"","payload":"16E833F8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"2","x":163,"y":633,"wires":[["8c898787.cbbd68"]]},{"id":"3ac81faa.386e7","type":"http request","z":"dd19ed79.9987b","name":"","method":"GET","ret":"txt","url":"","tls":"","x":555,"y":186,"wires":[["e94517d1.ae8bf8"]]},{"id":"199843f0.2a991c","type":"debug","z":"dd19ed79.9987b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":975,"y":186,"wires":[]},{"id":"1816bc77.75cc74","type":"inject","z":"dd19ed79.9987b","name":"RFID_ID Slot1","topic":"1","payload":"1a2b","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":126,"wires":[["46c8a7c8.cf3358"]]},{"id":"e94517d1.ae8bf8","type":"function","z":"dd19ed79.9987b","name":"active Plan","func":"var baseurl=flow.get(\"baseURL\");\nvar indata = JSON.parse(msg.payload);\nvar actPlan = {};\n/*for (var i = 0; i < Object.keys(indata).length; i++){\n    node.warn(\"event:\"+indata[i].event.name + \" plan:\"+indata[i].name);\n}*/\nactPlan.name = indata[(Object.keys(indata).length-1)].name;\nactPlan._id = indata[(Object.keys(indata).length-1)]._id;\nflow.set(\"actPlan\", actPlan);\ndelete msg.url;\nmsg.url = baseurl+\"/api/plans/participants/\"+actPlan._id;\nmsg.payload = \"OK\"\nnode.warn(msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":775,"y":186,"wires":[["199843f0.2a991c","346cdb54.70aca4"]]},{"id":"140bd37.b33312d","type":"inject","z":"dd19ed79.9987b","name":"read Variables","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":646,"wires":[["e2a0b13a.1a963"]]},{"id":"7f1ea84f.80acb8","type":"debug","z":"dd19ed79.9987b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":835,"y":646,"wires":[]},{"id":"e2a0b13a.1a963","type":"function","z":"dd19ed79.9987b","name":"read stored Variables","func":"node.send({payload:flow.get(\"actRfid\")});\nnode.send({payload:flow.get(\"actPlan\")});\nnode.send({payload:flow.get(\"participants\")});\nnode.send({payload:flow.get(\"heats\")});\n","outputs":1,"noerr":0,"x":585,"y":646,"wires":[["7f1ea84f.80acb8"]]},{"id":"346cdb54.70aca4","type":"http request","z":"dd19ed79.9987b","name":"","method":"GET","ret":"txt","url":"","tls":"","x":555,"y":246,"wires":[["7cbb2eb6.2a1b8"]]},{"id":"12048d8a.7f1482","type":"debug","z":"dd19ed79.9987b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":975,"y":246,"wires":[]},{"id":"7cbb2eb6.2a1b8","type":"function","z":"dd19ed79.9987b","name":"participants","func":"var baseurl=flow.get(\"baseURL\");\nvar indata = JSON.parse(msg.payload).participants;\nvar participants = flow.get(\"participants\"); //node.warn(participants)\nvar pilots = [];\nfor (var i = 0; i < Object.keys(indata).length; i++){\n    //participants[i].pilotName = indata[i].pilot.pilotName;\n    //participants[i]._id = indata[i]._id;\n    pilots[i] = {pilotName: indata[i].pilot.pilotName, _id: indata[i]._id, rfid: \"\"};\n    pilots[i].rfid = participants[i].rfid;\n}\n\nflow.set(\"participants\", pilots);\nmsg.payload = \"OK\";\ndelete msg.url;\nmsg.url=baseurl+\"/api/heats\";\nreturn msg;","outputs":1,"noerr":0,"x":775,"y":246,"wires":[["12048d8a.7f1482","ca1ac949.809f98"]]},{"id":"ca1ac949.809f98","type":"http request","z":"dd19ed79.9987b","name":"","method":"GET","ret":"txt","url":"","tls":"","x":555,"y":306,"wires":[["bc0039f9.88ff08"]]},{"id":"8ea93470.826898","type":"debug","z":"dd19ed79.9987b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1081,"y":364,"wires":[]},{"id":"2c6b3cd2.855be4","type":"function","z":"dd19ed79.9987b","name":"heats / slots","func":"var baseurl=flow.get(\"baseURL\");\nvar indata = JSON.parse(msg.payload);\nheats = [];\nvar actPlan = flow.get(\"actPlan\")._id;\nvar hi = 0;\nvar actHeat= 0;\nvar actRfid = flow.get(\"actRfid\");\nvar participants = flow.get(\"participants\");\nvar actPilot = \"\";\n\nfor (var i = 0; i < Object.keys(indata).length; i++){\n    if (indata[i].plan == actPlan){\n        heats[hi] = {heatName: indata[i].heatName, _id: indata[i]._id, status: indata[i].status, slots:indata[i].slots};\n        if (indata[i].status == \"ready\"){\n            actHeat = hi;\n            flow.set(\"actHeat\", indata[i]._id);\n        }\n        hi++;\n    }\n}\nflow.set(\"heats\", heats);\nfor (i = 0; i < Object.keys(participants).length; i++){\n    if (participants[i].rfid == actRfid._id){\n        actPilot = participants[i]._id;\n        node.warn(\"RFID Found PilotID: \"+ actPilot + \" Name: \" + participants[i].pilotName);\n    } \n}\nswitch (actRfid.ramp){\n    case \"1\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[0]}; \n            break;\n    case \"2\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[1]};\n            break;\n    case \"3\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[2]};\n            break;\n    case \"4\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[3]};\n            break;\n    default: node.warn(\"wrong ramp id\");        \n}\n//node.warn (heats[actHeat].slots);\nif(actPilot===\"\"){\n    //node.send({payload:flow.get(\"rfid_register\")});\n    node.warn(\"NO RFID ID!\");  \n    var msg1 = { payload:\"1\" };\n}\n//node.send({payload:heats[actHeat]._id});\n//node.warn(actRfid); \ndelete msg.url;\nmsg.url=baseurl+\"/api/slots/pilot\";\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":748.8571243286133,"y":917.14284324646,"wires":[["ca73f141.d64a4","362a87df.d008f8"],["b4441d28.c1b84"]]},{"id":"46c8a7c8.cf3358","type":"function","z":"dd19ed79.9987b","name":"","func":"var baseurl=flow.get(\"baseURL\");\nvar actRfid = {};\nactRfid._id = msg.payload;\nactRfid.ramp = msg.topic;\nflow.set(\"actRfid\", actRfid);\nnode.warn(\"RFID\" + actRfid.ramp + \" \" +actRfid._id);  \nmsg.url=baseurl+\"/api/plans\";\nreturn msg;","outputs":1,"noerr":0,"x":535,"y":126,"wires":[["3ac81faa.386e7","d6b996be.00ab28","b239367d.5213f8","5f9b23e0.7bb7fc","fe313863.19b338"]]},{"id":"ca73f141.d64a4","type":"http request","z":"dd19ed79.9987b","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":551,"y":411,"wires":[["1024d0b4.acd7cf","8ea93470.826898"]]},{"id":"b239367d.5213f8","type":"debug","z":"dd19ed79.9987b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1146.000015258789,"y":422.99999237060547,"wires":[]},{"id":"ee37a92d.0c6c88","type":"function","z":"dd19ed79.9987b","name":"RFID to Pilot","func":"var pilotName = msg.payload;\nvar Rfid = msg.topic;\nvar participants = flow.get(\"participants\");\nvar pilotOK = 0;\nfor (var i = 0; i < Object.keys(participants).length; i++){\n    if (participants[i].pilotName == pilotName){\n        participants[i].rfid = msg.topic;\n        pilotOK = 1;\n        \n    }\n}\nif (pilotOK === 0){node.warn(\"wrong pilot name\")}\nflow.set(\"participants\", participants)\nmsg.payload = participants;\n\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":766,"wires":[["1a39ded1.3610c1","acb71f02.c8efa"]]},{"id":"9c266b80.b58f68","type":"inject","z":"dd19ed79.9987b","name":"","topic":"1a2b","payload":"Seli","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":766,"wires":[["ee37a92d.0c6c88"]]},{"id":"1a39ded1.3610c1","type":"debug","z":"dd19ed79.9987b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":835,"y":766,"wires":[]},{"id":"b60ea460.6c95c8","type":"inject","z":"dd19ed79.9987b","name":"","topic":" 0464776A6A5F81","payload":"Patric","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":185,"y":806,"wires":[["ee37a92d.0c6c88"]]},{"id":"d0caaefa.2a3a4","type":"inject","z":"dd19ed79.9987b","name":"","topic":" 047E766A6A5F81","payload":"Andi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":165,"y":846,"wires":[["ee37a92d.0c6c88"]]},{"id":"b338cfac.46b3f","type":"inject","z":"dd19ed79.9987b","name":"RFID_ID Slot2","topic":"2","payload":" 0464776A6A5F81","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":166,"wires":[["46c8a7c8.cf3358"]]},{"id":"2be59c91.03b284","type":"inject","z":"dd19ed79.9987b","name":"RFID_ID Slot3","topic":"3","payload":"5e6f","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":206,"wires":[["46c8a7c8.cf3358"]]},{"id":"1312a69.bc97c59","type":"mqtt in","z":"dd19ed79.9987b","name":"1","topic":"rfid_1/uuid","qos":"0","broker":"a94fdd97.499eb","x":55,"y":266,"wires":[["9e6e24f1.419848"]]},{"id":"7c20de15.0451a","type":"mqtt in","z":"dd19ed79.9987b","name":"2","topic":"rfid_2/uuid","qos":"0","broker":"a94fdd97.499eb","x":55,"y":326,"wires":[["1f7b9fd2.9037f"]]},{"id":"ec9f6e8.a1ae19","type":"mqtt in","z":"dd19ed79.9987b","name":"3","topic":"rfid_3/uuid","qos":"0","broker":"a94fdd97.499eb","x":55,"y":386,"wires":[["f6c3c6ef.b5b6f8"]]},{"id":"f965cb17.204f58","type":"mqtt in","z":"dd19ed79.9987b","name":"4","topic":"rfid_4/uuid","qos":"0","broker":"a94fdd97.499eb","x":55,"y":446,"wires":[["90254df1.8111b"]]},{"id":"1f7b9fd2.9037f","type":"function","z":"dd19ed79.9987b","name":"","func":"msg.topic=\"2\";\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":175,"y":326,"wires":[["46c8a7c8.cf3358","9d286d29.e1692"]]},{"id":"9e6e24f1.419848","type":"function","z":"dd19ed79.9987b","name":"","func":"msg.topic=\"1\";\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":175,"y":266,"wires":[["46c8a7c8.cf3358","fc00388e.7da5c8"]]},{"id":"f6c3c6ef.b5b6f8","type":"function","z":"dd19ed79.9987b","name":"","func":"msg.topic=\"3\";\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":175,"y":386,"wires":[["46c8a7c8.cf3358","d8d77e10.0e3c5"]]},{"id":"90254df1.8111b","type":"function","z":"dd19ed79.9987b","name":"","func":"msg.topic=\"4\";\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":175,"y":446,"wires":[["46c8a7c8.cf3358","262864c8.8881ec"]]},{"id":"9876b047.bc4a","type":"http request","z":"dd19ed79.9987b","name":"","method":"POST","ret":"txt","url":"","tls":"","x":781,"y":510,"wires":[["b239367d.5213f8"]]},{"id":"1024d0b4.acd7cf","type":"function","z":"dd19ed79.9987b","name":"gui / update / delete","func":"var baseurl=flow.get(\"baseURL\");\nvar actHeat=flow.get(\"actHeat\");\nvar participants = flow.get(\"ramp1\"); \nif(msg.payload===\"Pilot already in heat!\"){\nnode.warn(\"Pilot already in heat!\");\n//42[\"message\",\"{\\\"reason\\\":\\\"heat_pilot_delete\\\",\\\"heatId\\\":\\\"5ca8c6648d3df102e48b7fbf\\\",\\\"deletedPilotId\\\":\\\"5ca8734ee51ce927d4f0f022\\\",\\\"slotNr\\\":\\\"1\\\",\\\"sendMail\\\":false}\"]\nmsg.payload =  {\"reason\": \"heat_pilot_delete\",\"heatId\":\"5ca8c6648d3df102e48b7fbf\",\"deletedPilotId\":\"5ca8734ee51ce927d4f0f022\",\"slotNr\":\"1\"};\nnode.warn(flow.get(\"ramp1\"));\n\n}else{\nmsg.payload =  {\"reason\": \"heat_pilot_update\",\"heatId\":actHeat};\n\n}\ndelete msg.url;\nmsg.url=baseurl+\"/api/websocket/message\";\nreturn msg;","outputs":1,"noerr":0,"x":806.9999694824219,"y":439.0000104904175,"wires":[["9876b047.bc4a","b239367d.5213f8"]]},{"id":"d6b996be.00ab28","type":"function","z":"dd19ed79.9987b","name":"","func":"msg.payload=\"blub\";\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":526,"wires":[[]]},{"id":"a63986c1.a30dd8","type":"ui_audio","z":"dd19ed79.9987b","name":"","group":"3a83c010.94e25","voice":"","always":"","x":565,"y":526,"wires":[]},{"id":"fc00388e.7da5c8","type":"ui_text","z":"dd19ed79.9987b","group":"3a83c010.94e25","order":6,"width":0,"height":0,"name":"","label":"Ramp1","format":"{{msg.payload}}","layout":"row-spread","x":355,"y":267,"wires":[]},{"id":"9d286d29.e1692","type":"ui_text","z":"dd19ed79.9987b","group":"3a83c010.94e25","order":6,"width":0,"height":0,"name":"","label":"Ramp2","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":326,"wires":[]},{"id":"d8d77e10.0e3c5","type":"ui_text","z":"dd19ed79.9987b","group":"3a83c010.94e25","order":6,"width":0,"height":0,"name":"","label":"Ramp3","format":"{{msg.payload}}","layout":"row-spread","x":344,"y":377,"wires":[]},{"id":"262864c8.8881ec","type":"ui_text","z":"dd19ed79.9987b","group":"3a83c010.94e25","order":6,"width":0,"height":0,"name":"","label":"Ramp4","format":"{{msg.payload}}","layout":"row-spread","x":336,"y":435,"wires":[]},{"id":"362a87df.d008f8","type":"debug","z":"dd19ed79.9987b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1109,"y":300,"wires":[]},{"id":"e3b4c944.74d908","type":"file","z":"dd19ed79.9987b","name":"","filename":"participants.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1555.0000762939453,"y":90.00000476837158,"wires":[[]]},{"id":"da564308.bdd14","type":"rpi-gpio out","z":"dd19ed79.9987b","name":"buzzer","pin":"37","set":"","level":"0","freq":"100","out":"out","x":1549,"y":562,"wires":[]},{"id":"fe313863.19b338","type":"trigger","z":"dd19ed79.9987b","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1257.5000076293945,"y":540.0000352859497,"wires":[["da564308.bdd14","6d8f81c6.a3ffb"]]},{"id":"b9cc7230.462b1","type":"inject","z":"dd19ed79.9987b","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1359,"y":485,"wires":[["da564308.bdd14","73aa367c.c94be8","6d8f81c6.a3ffb","cca39935.04c478"]]},{"id":"8e16b282.d204b","type":"rpi-gpio in","z":"dd19ed79.9987b","name":"Taster","pin":"7","intype":"tri","debounce":"25","read":true,"x":1297,"y":309,"wires":[["31cad5d2.18e71a"]]},{"id":"73aa367c.c94be8","type":"rpi-gpio out","z":"dd19ed79.9987b","name":"Blau","pin":"36","set":"","level":"0","freq":"","out":"out","x":1547,"y":382,"wires":[]},{"id":"6d8f81c6.a3ffb","type":"rpi-gpio out","z":"dd19ed79.9987b","name":"Grün","pin":"38","set":"","level":"0","freq":"","out":"out","x":1548,"y":441,"wires":[]},{"id":"cca39935.04c478","type":"rpi-gpio out","z":"dd19ed79.9987b","name":"Rot","pin":"40","set":"","level":"0","freq":"","out":"out","x":1549,"y":498,"wires":[]},{"id":"31cad5d2.18e71a","type":"trigger","z":"dd19ed79.9987b","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":1340,"y":390,"wires":[["73aa367c.c94be8"]]},{"id":"7055a1b0.dabef","type":"file in","z":"dd19ed79.9987b","name":"","filename":"participants.txt","format":"utf8","chunk":false,"sendError":false,"x":1362.017333984375,"y":696.0104370117188,"wires":[["6e58b989.671348"]]},{"id":"6e58b989.671348","type":"debug","z":"dd19ed79.9987b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1543.0173568725586,"y":696.0104579925537,"wires":[]},{"id":"96e2be46.246af","type":"inject","z":"dd19ed79.9987b","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1197.0173110961914,"y":696.0104713439941,"wires":[["7055a1b0.dabef"]]},{"id":"8ff75b29.876e38","type":"comment","z":"dd19ed79.9987b","name":"Read file RAW!","info":"","x":1182.017333984375,"y":658.0104370117188,"wires":[]},{"id":"5f532ec3.f5643","type":"function","z":"dd19ed79.9987b","name":"start race","func":"var baseurl=flow.get(\"baseURL\");\n//{\"reason\":\"update_heat_status\",\"heatStatus\":\"running\"}\nmsg.payload =  {\"reason\": \"update_heat_status\",\"heatStatus\":\"running\"};\ndelete msg.url;\nmsg.url=baseurl+\"/api/websocket/message\";\nreturn msg;","outputs":1,"noerr":0,"x":1345.017333984375,"y":771.0104370117188,"wires":[["57e9a94b.c94bc8"]]},{"id":"94afeaf3.450b38","type":"inject","z":"dd19ed79.9987b","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1202.017333984375,"y":774.0104370117188,"wires":[["5f532ec3.f5643"]]},{"id":"f9dbbecd.b4034","type":"debug","z":"dd19ed79.9987b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1700.0173568725586,"y":769.0105571746826,"wires":[]},{"id":"57e9a94b.c94bc8","type":"http request","z":"dd19ed79.9987b","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1516.017333984375,"y":774.0104370117188,"wires":[["f9dbbecd.b4034"]]},{"id":"5acdd9a5.ea4c08","type":"ui_dropdown","z":"dd19ed79.9987b","name":"","label":"","tooltip":"","place":"Select option","group":"cd00db40.7e28d8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1163,"y":26,"wires":[["827a846f.337328"]]},{"id":"eabb0bea.477468","type":"ui_button","z":"dd19ed79.9987b","name":"","group":"cd00db40.7e28d8","order":4,"width":0,"height":0,"passthru":false,"label":"save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":1158,"y":71,"wires":[["827a846f.337328"]]},{"id":"5f9b23e0.7bb7fc","type":"ui_text","z":"dd19ed79.9987b","group":"cd00db40.7e28d8","order":3,"width":0,"height":0,"name":"","label":"neue ID","format":"{{msg.payload}}","layout":"row-spread","x":1147,"y":121,"wires":[]},{"id":"827a846f.337328","type":"function","z":"dd19ed79.9987b","name":"","func":"var participants = flow.get(\"participants\");\nvar actRfid = flow.get(\"actRfid\");\nvar actPilotRfid = flow.get(\"actPilotRfid\")||\"\";\n\nif (msg.topic == \"save\"){\n    for (var i = 0; i < Object.keys(participants).length; i++){ \n        if (participants[i]._id == actPilotRfid){\n            node.send([{payload: participants[i].rfid},null])\n            participants[i].rfid = actRfid._id;\n            flow.set(\"participants\", participants)\n        }\n    \n    }\n}\nelse {\n    actPilotRfid = msg.payload;\n    for (var ii = 0; ii < Object.keys(participants).length; ii++){ \n        if (participants[ii]._id == actPilotRfid){\n            node.send([null, {payload: participants[ii].rfid}])\n        }\n    \n    }\n    flow.set(\"actPilotRfid\", actPilotRfid);\n}\n","outputs":2,"noerr":0,"x":1334,"y":27,"wires":[["aff75ee4.7d37a","acb71f02.c8efa"],["aff75ee4.7d37a"]]},{"id":"aff75ee4.7d37a","type":"ui_text","z":"dd19ed79.9987b","group":"cd00db40.7e28d8","order":2,"width":0,"height":0,"name":"","label":"aktuelle ID","format":"{{msg.payload}}","layout":"row-spread","x":1763.0000457763672,"y":33,"wires":[]},{"id":"acb71f02.c8efa","type":"function","z":"dd19ed79.9987b","name":"","func":"var participants = flow.get(\"participants\");\nmsg.payload = JSON.stringify(participants);\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":92,"wires":[["e3b4c944.74d908"]]},{"id":"bc0039f9.88ff08","type":"function","z":"dd19ed79.9987b","name":"heats / slots","func":"var baseurl=flow.get(\"baseURL\");\nvar indata = JSON.parse(msg.payload);\nheats = [];\nvar actPlan = flow.get(\"actPlan\")._id;\nvar hi = 0;\nvar actHeat= 0;\nvar actRfid = flow.get(\"actRfid\");\nvar participants = flow.get(\"participants\");\nvar actPilot = \"\";\n\n\nfor (var i = 0; i < Object.keys(indata).length; i++){\n    if (indata[i].plan == actPlan){\n        heats[hi] = {heatName: indata[i].heatName, _id: indata[i]._id, status: indata[i].status, slots:indata[i].slots};\n        if (indata[i].status == \"ready\"){\n            actHeat = hi;\n            flow.set(\"actHeat\", indata[i]._id);\n        }\n        hi++;\n    }\n}\nflow.set(\"heats\", heats);\nfor (i = 0; i < Object.keys(participants).length; i++){\n    if (participants[i].rfid == actRfid._id){\n        actPilot = participants[i]._id;\n        node.warn(\"RFID Found PilotID: \"+ actPilot + \" Name: \" + participants[i].pilotName);\n    } \n}\nswitch (actRfid.ramp){\n    case \"1\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[0]}; \n            break;\n    case \"2\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[1]};\n            break;\n    case \"3\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[2]};\n            break;\n    case \"4\": msg.payload = {participant: actPilot, _id: heats[actHeat].slots[3]};\n            break;\n    default: node.warn(\"wrong ramp id\");        \n}\n//node.warn (heats[actHeat].slots);\nif(actPilot===\"\"){\n    //node.send({payload:flow.get(\"rfid_register\")});\n    node.warn(\"NO RFID ID!\");  \n}\n//node.send({payload:heats[actHeat]._id});\n//node.warn(actRfid); \ndelete msg.url;\nmsg.url=baseurl+\"/api/slots/pilot\";\nreturn msg;","outputs":1,"noerr":0,"x":773.4459381103516,"y":304.15334129333496,"wires":[["ca73f141.d64a4"]]},{"id":"c3b607f4.5745b8","type":"comment","z":"dd19ed79.9987b","name":"Sicherung","info":"","x":115.07986450195312,"y":533.6215591430664,"wires":[]},{"id":"b4441d28.c1b84","type":"trigger","z":"dd19ed79.9987b","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"750","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1249.0173950195312,"y":594.0104532241821,"wires":[["da564308.bdd14"]]},{"id":"c01faabc.0346e8","type":"function","z":"dd19ed79.9987b","name":"","func":"flow.set(\"actRfid\",\"\");\nflow.set(\"actPlan\", 0);\nflow.set(\"participants\",[]);\nflow.set(\"heats\",[]);\nflow.set(\"pilots2rfid\", []);\nmsg.payload = \"OK\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":28,"wires":[["e4760094.4c6b4"]]},{"id":"3330a210.09532e","type":"inject","z":"dd19ed79.9987b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":28,"wires":[["c01faabc.0346e8"]]},{"id":"e6cfdc2b.da8a2","type":"function","z":"dd19ed79.9987b","name":"participants","func":"var indata = JSON.parse(msg.payload).participants;\nvar participants = flow.get(\"participants\");\nvar pilots = [];\nvar dropdownpilots = {};\nvar choice = [];\nvar choice2 = \"hallo\";\nfor (var i = 0; i < Object.keys(indata).length; i++){\n    pilots[i] = {pilotName: indata[i].pilot.pilotName, _id: indata[i]._id};\n    var pilotname = indata[i].pilot.pilotName\n    dropdownpilots = {[pilotname] : participants[i]._id, rfid: participants[i].rfid};\n    choice[i] = dropdownpilots;\n    dropdownpilots.delete\n}\n\nflow.set(\"participants\", pilots);\nnode.warn(dropdownpilots)\ndelete msg.url;\ndelete msg.payload;\nmsg.options = choice;\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":28,"wires":[["5acdd9a5.ea4c08"]]},{"id":"48a1fb3b.753db4","type":"function","z":"dd19ed79.9987b","name":"active Plan","func":"var indata = JSON.parse(msg.payload);\nvar actPlan = {};\n/*for (var i = 0; i < Object.keys(indata).length; i++){\n    node.warn(\"event:\"+indata[i].event.name + \" plan:\"+indata[i].name);\n}*/\nactPlan.name = indata[(Object.keys(indata).length-1)].name;\nactPlan._id = indata[(Object.keys(indata).length-1)]._id;\nflow.set(\"actPlan\", actPlan);\nmsg.url = \"http://192.168.4.88:8080/api/plans/participants/\"+actPlan._id;\nmsg.payload = \"OK\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":28,"wires":[["6f6d4d88.0653a4"]]},{"id":"e4760094.4c6b4","type":"http request","z":"dd19ed79.9987b","name":"","method":"GET","ret":"txt","url":"http://192.168.4.88:8080/api/plans","tls":"","x":400,"y":28,"wires":[["48a1fb3b.753db4"]]},{"id":"6f6d4d88.0653a4","type":"http request","z":"dd19ed79.9987b","name":"","method":"GET","ret":"txt","url":"","tls":"","x":740,"y":28,"wires":[["e6cfdc2b.da8a2"]]},{"id":"df1090a8.381fc","type":"function","z":"dd19ed79.9987b","name":"","func":"var participants = JSON.parse(msg.payload);\nflow.set(\"participants\", participants);\nmsg.payload =\"OK\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":68,"wires":[["e4760094.4c6b4"]]},{"id":"ce5966fc.7b6e48","type":"file in","z":"dd19ed79.9987b","name":"","filename":"participants.txt","format":"utf8","chunk":false,"sendError":false,"x":410,"y":68,"wires":[["df1090a8.381fc"]]},{"id":"bee4d74b.509a88","type":"debug","z":"dd19ed79.9987b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":892,"y":92,"wires":[]}]
